*{
    margin: 0;
    padding: 0;
}

header{
    background-color:rgba(215, 218, 78, 0.877);
    min-height: 50px;
    opacity: 0.5;
}
.container {
    max-width: 1100px;
    margin: auto;
}
 #ff{
    margin-top: 20px;
    color: purple;
  background-color: white;
  text-align: start;
  max-width: 210px;
  margin-left: 90px;
  font-size: 20px;
  padding: 7px; 
  border-radius: 10px;
  
}
#banner :first-child p{
    margin-bottom: 45px;
}
    
#topwork{
    background-color: #eeebe3;
    min-height: 540px;
    margin-bottom: 50px;
}

#banner{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0;
    font-family:sans-serif
}

#banner >:first-child button{
   padding: 15px 20px;
    border: none;
    border-radius: 7px;
}
#button_getstarted{
  
    background-color: black;
    color: white;
    font-weight: 500;
    font-weight: bold;
  
}
#button_getintouch{
  
    background-color: white;
    color: black;
    font-weight: 500;
    font-weight: bold;
    margin-left: 25px;
}
#banner_image{
    height: 321px;
    max-width: 506px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    position: relative;
}

/* #eeebe3 */
#banner_head{
    font-size: 45px;
}

 /* #beside_image{
    border: 1px solid rgb(194, 42, 42);
 }
 #para1{
    border: 1px solid greenyellow;
 } */
 #down_image{
    background-repeat: no-repeat;
   
background-size: contain;
background-image: url(../images/real\ 1.jpg);
background-size: cover;
background-repeat: no-repeat;
width:auto;
min-height: 360px;
background-position: center;
margin-bottom: 50px;
border-radius: 20px;
 }

 #para_dri{
padding-top: 250px;
font-size: 39px;
padding-left: 20px;
color: white;
font-family: serif;
font-weight: bolder;
 }

 #years{
    font-size: 20px;
 }
 #fle{
    display: flex;
 }
 #them{
    color: white;
    text-align: right;
    padding-left: 450px;
    padding-top: 280px;
font-weight: bolder;
font-size: 10px;
}
#bord{
background-size: contain;
}
#coal{
    display: flex;
    background-color: white;
    font-size: 20px;
    padding-bottom: 30px; 
}
.column {
  float: left;
  width: 31%;
  padding-left: 10px;
  padding-right: 110px;
  
}
.row:after {
    content: "";
    display: table;
    clear: both;

    width: 121%;   
}
    .come {
  padding-left: 200px;
      text-align: left;
    }
<<<<<<< HEAD
 
=======
 #lookat{
    justify-content: space-between;
    display: flex;
   
  
 }
#student{
  background-color: blue;
  min-height: 10px;
  min-width: 20px;
  background-size: cover;
   
}

/* Done By Destiny */
#floatDiv{
    min-height: 50px;
    width: 200px;
    background-color: white;
    position: absolute;
    bottom: 60px;
    left: -60px;
    border-radius: 10px;
    box-shadow: -10px 10px 30px rgba(53, 73, 79, 0.505);
    padding: 20px;
    font-size: small;
}

#floatDiv aside:not(:last-child){
    margin-bottom: 20px;
}

#floatDiv h4 span:first-child{
    font-weight: 500;
}

#floatDiv h4{
    display: flex;
    justify-content: space-between;
}
.status-line{
    width: 100%;
    background-color: rgb(227, 232, 236);
    height: 10px;
    border-radius: 20px;
    margin-top: 7px;
    overflow: hidden;
}
>>>>>>> 5a999bb6ab62afc47edce68ffef38000847f2886
